table {
   
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
padding:10px;
    text-align: left;
    border: 1px solid black;
  }
  .table_book{
      margin-left: 30%;
      margin-top: 5%;
  }
  .collapse{
margin-left: 30%;
margin-top: 5%;
  }
  #demo1{
    margin-left: 9%;
  }
  .video{
    background-color:black;
    margin-top: 5%;
    padding:50px;
  }
  .video h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 160%;
  }